<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error</title>

    <div th:replace="~{fragments/headFragments :: bootstrap}"></div>
</head>

<body>

<div th:insert="~{header.html}"></div>

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold" th:text="${httpStatus} ?: '500'"></h1>
        <div th:if="${errorMsg != null}">
            <p class="text-danger" th:text="'Ooops! ' + ${errorMsg}"></p>
        </div>
        <div th:if="${errorMsg == null}">
            <p class="fs-3"><span class="text-danger">Opps!</span> Some error occurred.</p>
        </div>
        <a href="/categories?page=categories" class="btn btn-primary">Go Home</a>
    </div>
</div>
</body>

</html>