<header class="mb-3 border-bottom border-success">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/categories}"
                       class="nav-link px-2 my-1 link-dark border border-2 rounded border-success">Home</a></li>
            </ul>

            <form th:action="@{/search}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 border border-success rounded">
                <input th:name="searchRequest" type="search" class="form-control" placeholder="Search..."
                       aria-label="Search">
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{/images/user.png}" alt="user" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" th:href="@{/cart}">Shopping cart</a></li>
                    <li><a class="dropdown-item" th:href="@{/user}">Purchase history</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>