<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Log in</title>

    <div th:replace="~{fragments/headFragments :: bootstrap}"></div>
</head>

<body class="text-center">

<div th:insert="~{header.html}"></div>

<div class="container mt-5">

    <div class="row align-items-center justify-content-center">

        <main class="form-signin col-4">
            <form th:method="POST" action="#" th:action="@{/login}">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Login" th:id="login" th:name="login"
                           th:value="admin">
                    <label th:for="login" class="form-label">Login</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" placeholder="Password" th:id="password"
                           th:name="password" th:value="admin">
                    <label th:for="password">Password</label>
                </div>

                <p th:if="${errorMsg != null}" th:text="${errorMsg}" class="text-danger"></p>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me" disabled> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
                <p>Not a member? <a th:href="@{/register}">Register</a></p>

                <p class="mt-5 mb-3 text-muted">&copy; Eugen Vabishchevich</p>
            </form>
        </main>

    </div>

</div>

</body>
</html>